title: My blog editor
description: A showcase of my blog editor.
baseurl: /collection-of-items/blog-editor    # ← 关键！
url: https://single-songer.github.io        # ← 替换 yourusername

theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md