title: My Weather App
description: A showcase of my work.
baseurl: /collection-of-items/weather-app    # ← 关键！
url: https://single-songer.github.io        # ← 替换 yourusername

theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md