* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f1f1f1;
  color: #757474;
  padding: 30px 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #e50914;
}
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
#search-input {
  width: 100%;
  max-width: 600px;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 14px 20px;
  font-size: 1rem;
  background: #e0dede;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.hidden {
  display: none;
}
#error {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background: #ff3b03;
  color: white;
  border-radius: 8px;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 25px;
  padding: 10px;
}
.movie-card {
  background: #f1f1f1;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
}
.movie-card:hover {
  transform: scale(1.03);
}
.movie-poster {
  width: 100%;
  height: 240px;
  object-fit: cover;
  background: #333;
}
.movie-title {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.moive-info {
  padding: 0 10px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #aaa;
}
@media screen and (max-width: 600px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
